<div class="info">
  <img src="../assets/images/gates.jpg" alt="Bill Gates"/>
  <h1>Bill Gates</h1>
  <p>
    William Henry Gates III (born October 28, 1955) is an American business
    magnate, author, investor, and philanthropist. He is a co-founder of
    Microsoft, along with his late childhood friend Paul Allen.During his career
    at Microsoft, Gates held the positions of chairman, chief executive officer
    (CEO), president and chief software architect, while also being the largest
    individual shareholder until May 2014. He was a major entrepreneur of the
    microcomputer revolution of the 1970s and 1980s.
  </p>
</div>
<div class="quotes">
  <p>Patience is a key element of success</p>
  <p>If you think your teacher is tough, wait till you get a boss</p>
  <p>Life is not fair - get used to it!</p>
  <p>Success is a lousy teacher. It seduces smart people into thinking they can't lose</p>
  <p>Be nice to nerds. Chances are you'll end up working for one</p>
</div>
